<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>


  <body>
    <!--ดึงฟังก์ชันของ nav1 มาใช้(ส่วนด้านบน)-->
    <%- include('nav1.ejs') %>
    
    
    <!--ดึง searchbar มาใช้-->
    <div  id="container-down">    
    <!--Search Bar-->
    <div class="row">
        <div class="col-md-6 offset-md-3"  >
            <div class="input-group search-bar" id="searchBarCon">
            
                <input id="myInput" type="text" onkeyup="mySearchBar()"  class="form-control" placeholder="Search..." style="border: none; border-radius: 45px; border-top-right-radius: 0%; border-bottom-right-radius: 0%;">
                <div class="input-group-append">
                    <button id="searchBarBtn" class="btn btn-outline-secondary" type="button" style="background-color: #fff; border: none; border-radius: 45px; border-bottom-left-radius: 0%; border-top-left-radius: 0%;">
                    <img src="/img/img_home_05.png" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="dropdown" style="margin-left: -100px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #8BA2E0; font-weight: 500;">
            PRODUCT FILTERS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" >
                <input type="checkbox" class="btn-check" id="Filter_HideMyProduct" autocomplete="off">
                <label class="btn btn-outline-primary" for="Filter_HideMyProduct" style="font-weight: 500;">Hide my Product</label>
              
                <input type="checkbox" class="btn-check" id="Filter_Electronic" autocomplete="off">
                <label class="btn btn-outline-primary" for="Filter_Electronic" style="font-weight: 500;">Electronic</label>
              
                <input type="checkbox" class="btn-check" id="Filter_Enjoyment" autocomplete="off">
                <label class="btn btn-outline-primary" for="Filter_Enjoyment" style="font-weight: 500;">Enjoyment</label>
        
                <input type="checkbox" class="btn-check" id="Filter_Education" autocomplete="off">
                <label class="btn btn-outline-primary" for="Filter_Education" style="font-weight: 500;">Education</label>
              
                <input type="checkbox" class="btn-check" id="Filter_Fashion" autocomplete="off">
                <label class="btn btn-outline-primary" for="Filter_Fashion" style="font-weight: 500;">Fashion</label>
              
                <input type="checkbox" class="btn-check" id="Filter_Furniture" autocomplete="off">
                <label class="btn btn-outline-primary" for="Filter_Furniture" style="font-weight: 500;">Furniture</label>
        
                <input type="checkbox" class="btn-check" id="Filter_General" autocomplete="off">
                <label class="btn btn-outline-primary" for="Filter_General" style="font-weight: 500;">General</label>
              </div>
            </ul>
          </div>
    </div>
</div>

  <style>
      .search-bar {
        max-width: 709px;
        height: 81px;
        margin: 20px auto;
        position: fixed;
        top: 350px;
        z-index: 9999;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
      }
      #searchBarBtn {
          height: 81px;
          width: 81px;
          
      }    
  </style>

    <!--แสดง list ทั้งหมดของ Giveaway-->
    <ul id="myUL">
    <div class="hotForGive">
        <img src="/img/img_home_10.png" alt="" id="">
        <div class="row hotSwapCon">
            <!--ดึงรายชื่อสิ่งของ giveaway มาแสดง-->
          <span id="myID" style="display: none;"><%= userLogin %></span>
            <% giveList.forEach((giveList,index) => { %>
                <div class="col-4 hotGive shadow rounded mt-3 liHotSwap">
                    <div class="row ">
                        <span id="swapGiveIndex" style="display: none;"><%= index %></span>
                        <span id="swapGiveInfoId<%= index %>" style="display: none;"><%= giveList._id %></span>
                        <span id="swapGiveInfoItemName<%= index %>" style="display: none;"><%= giveList.nameItem %></span>
                        <span id="swapGiveInfoCategory<%= index %>" style="display: none;"><%= giveList.category %></span>
                        <span id="swapGiveInfoCondition<%= index %>" style="display: none;"><%= giveList.condition %></span>
                        <span id="swapGiveInfoShipment<%= index %>" style="display: none;"><%= giveList.shipment %></span>
                        <span id="swapGiveInfoInteresting<%= index %>" style="display: none;"><%= giveList.interesting %></span>
                        <span id="swapGiveInfoDescription<%= index %>" style="display: none;"><%= giveList.description %></span>
                        <span id="swapGiveInfoOwnerName<%= index %>" style="display: none;"><%= giveList.nameOwner %></span>
                        <span id="swapGiveInfoOwnerRating<%= index %>" style="display: none;"><%= giveList.ratingOwner %></span>
                        <span id="swapGiveInfoIdOwner<%= index %>" style="display: none;"><%= giveList.idOwner %></span>
                        <span id="swapGiveInfoId<%= index %>" style="display: none;"><%= giveList._id %></span>
                        <span id="swapGiveInfoImg2<%= index %>" style="display: none;"><%= giveList.img2 %></span>

                        <div class="col-2">
                        </div>
                        
            <!--ส่วนของข้อมูลสิ่งของในแต่ละกรอบที่แสดง-->
                        <div class="col-8 d-flex justify-content-center ">
                            <img src="/img/items/img_item_05.png" alt="">
                        </div>
                        <div class="col-2 mt-3 ">
                            <!-- <img src="/img/items/img_item_03.png" alt=""> -->
                        </div>
                        <div class="col-12 d-flex justify-content-center mt-2">
                            <img src="/img/uploads/<%= giveList.img2 %>" alt="" class="img-fluid"  style="height: 260px; width: 260px;">
                        </div>
                        <div class="col-12 d-flex justify-content-center itemNameEdit">
                            <span><%= giveList.nameItem %></span>
                        </div>
                        <div class="col-12 itemConditionEdit">
                            <span>Condition : </span><span class="conditionDp"><%= giveList.condition %>%</span>
                        </div>
                    
                        <div class="col-12 itemOwnerName">
                        <span>Donor : </span><span><%= giveList.nameOwner %></span>
                        <!--
                        <span class="itemLookingEdit">Looking for : </span>
                        <button class="btn-looking ">
                            <span><%= giveList.interesting %></span>                        
                        </button>
                        -->
                    </div>
                    </div>
                </div>
            <% }); %>
            <script src="Filter.js"></script>
          </div>
    </div>

    </div>
    </ul>
    
    <!--ยังไม่รู้ว่าทำอะไร-->
    <!--ยังไม่รู้ว่าทำอะไร-->
    <!--ยังไม่รู้ว่าทำอะไร-->
    <!--ยังไม่รู้ว่าทำอะไร-->
    <%- include('itemInfo-give.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/home.js"></script>

    <!--script for กรอง input search bar-->
    <script>
        function mySearchBar() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById('myInput');
          filter = input.value.toUpperCase(); //แปลงอินพุทเป็นตัวพิมใหญ่
          ul = document.getElementById("myUL");
          li = ul.getElementsByClassName('liHotSwap');
        
          for (i = 0; i < li.length; i++) {
            a = li[i].querySelector("span[id^='swapGiveInfoItemName']"); // a = item name
            txtValue = a.textContent || a.innerText; //textContent คือ textเพรียวๆ innerText คือ Text ที่มี Style
            if (txtValue.toUpperCase().indexOf(filter) > -1) { //หาไม่เจอ = -1 ยังไม่หา = 0 
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
        </script>

    <script src="nav1.js"></script>
    <script>
        document.querySelectorAll('.hotGive').forEach(function(element) {
            element.onclick = function() {
                swapGiveIndex = element.querySelector('#swapGiveIndex').innerText                
                document.getElementById('itemInfoItemName_give').innerText = element.querySelector('#swapGiveInfoItemName'+swapGiveIndex).innerText
                document.getElementById('itemInfoCategory_give').innerText = 'Category - ' + element.querySelector('#swapGiveInfoCategory'+swapGiveIndex).innerText
                document.getElementById('itemInfoCondition_give').innerText = element.querySelector('#swapGiveInfoCondition'+swapGiveIndex).innerText + '%'
                document.getElementById('itemInfoShipment_give').innerText = element.querySelector('#swapGiveInfoShipment'+swapGiveIndex).innerText
                document.getElementById('itemInfoInteresting_give').innerText = element.querySelector('#swapGiveInfoInteresting'+swapGiveIndex).innerText
                document.getElementById('itemInfoDescription_give').innerText = element.querySelector('#swapGiveInfoDescription'+swapGiveIndex).innerText
                document.getElementById('itemInfoOwnerName_give').innerText = element.querySelector('#swapGiveInfoOwnerName'+swapGiveIndex).innerText
                document.getElementById('itemInfoOwnerRating_give').innerText = 'Rating : ' + element.querySelector('#swapGiveInfoOwnerRating'+swapGiveIndex).innerText
                document.getElementById('showMockUpImg_give').src = '/img/uploads/'+element.querySelector('#swapGiveInfoImg2'+swapGiveIndex).innerText

                document.getElementById('targetItemID_give').value = element.querySelector('#swapGiveInfoId'+swapGiveIndex).innerText

                var itemInfoContainer_give = document.getElementById('itemInfoContainer_give');
                itemInfoContainer_give.style.display = 'block';
            };
        });
    </script>
    <script>
      // JavaScript to prevent closing dropdown on checkbox click
      var dropdownMenu = document.querySelector('.dropdown-menu');
      dropdownMenu.addEventListener('click', function (event) {
      event.stopPropagation();
      });         
    </script>
  </body>
</html>